html,
body {
  padding: 0;
  margin: 0;
  background: transparent;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

* {
  transition: .2s;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important;
}

.input-group-text.material-icons {
  cursor: pointer;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
  cursor: default;
}